@model IEnumerable<App.Domain.Core.Entities.User>

@{
	ViewData["Title"] = "User Home Page";
}

<h1>Users</h1>

<p>
    <a asp-action="Create">اضافه کردن کاربر جدید</a>
</p>

<form asp-action="Search" method="Get">
    <p>
        جستجو بر اساس نام کاربر <input type = "text" name = "searchString" />
        <input type="submit" value="جستجو" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionType)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubscriptionType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-action="Detail" asp-route-id="@item.Id">مشاهده جزییات</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>

